.content-txt {
    border-bottom: 1px solid #beeaf7;
    overflow: hidden;
    .item-txt-t {
        margin: 20px 0;
        overflow: hidden;
        .label {
           display: inline-block;
           width: 180px;
           text-align: right;
           margin-right: 8px;
           font-size: 14px;
        }
        .txt {
           display: inline-block;
           font-size: 14px;
           img {
               max-width: 400px;
           }
            span {
                background: #45b1ed;
                color: #fff;
                display: inline-block;
                font-size: 14px;
                padding: 2px 5px;
                margin-right: 10px;
            }
        }
        .label-div {
            width: 180px;
            float: left;
            text-align: right;
            margin-right: 8px;
            font-size: 14px;
        }
        .txt-div {
            float: left;
            p {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
    .treat-txt {
        margin-left: 106px;
        overflow: hidden;
        margin-top: 40px;
        min-height: 100px;
        .textarea {
            width: 852px;
            min-height: 100px;
        }
    }
}