.home{
  background: url(/static/images/raw.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
.box{
    width: 680px;
    height: 477px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -340px;
    margin-top: -260px;
    background: rgba(225,225,225,0.95);
    border-radius: 20px;
    .login-header {
      height: 125px;
      width: 100%;
      background: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 5px 5px -3px rgba(0,0,0,0.13);
      padding: 20px 0;
      img {
        height: 72px;
        margin-left: 130px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 6px;
      }
      span {
        color: #2870b7;
        padding-top: 18px;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        margin-left: 15px;
        position: absolute;
        left: 362px;
        top: 39px;
      }
    }
    .regbtn{
      width: 100%;
      height: 60px;
      background: #2870b7;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      margin-top: 26px;
    }
    .regbtn:hover {
      background: #419ffc;
    }
    .login-jl {
      height: 22px;
      width: 20px;
      line-height: 22px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: inline-block;
      width: 42px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-right: 1px solid #d9d9d9;
      background: #fff;
      margin: 9px 0;
      margin-left: 6px;
    }
    .login-jl-user {background: url(/static/images/User.png) center center no-repeat;}
    .login-jl-psd {background: url(/static/images/Locked.png) center center no-repeat;}
    .login-jl-code {background: url(/static/images/Write.png) center center no-repeat;}
}
.securityCode{
    width: 90px;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 5px;
    position: absolute;
    top: 6px;
    right: 50px;
}
.form-div-l {
  width: 320px;
  margin: 0 auto;
  margin-top: 40px;
}
.click-code {
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  position: absolute;
  right: 0;
  bottom: 0px;
  margin-left: 5px;
  font-size: 14px;
}
.click-code:hover {
  color: #2870b7;
}
.bottom-logo {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 78px;
  border-top: 1px solid #575c7c;
  background: rgba(0,0,0,0.8);
  z-index: 1px;
  color: #666;
  line-height: 78px;
  text-align: center;
  font-size: 16px;
}